<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/main.css">
        <title>{{ title }}</title>
    </head>
<body>
    <h1>Hello from {{ title }}</h1>
</body>
</html>