<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="pico/pico.min.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="htmx/htmx.min.js"></script>
        <title>{{ title }}</title>
    </head>
<body>
    <header class="header">
        <h1>Hello from {{ title }}</h1>
    </header>
    <main class="container">
        <section class="content">
            <form class="prompt" hx-post="/make-image" hx-target=".prompt__response">
                <textarea class="prompt__input" name="prompt" id="prompt-1"></textarea>
                <button type="submit">Generate</button>
            </form>
            <aside class="prompt__response"></aside>
        </section>
    </main>

</body>
</html>