<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="pico/pico.classless.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/media-queries.css">
        <script src="htmx/htmx.min.js"></script>
        <title>{{ title }}</title>
    </head>
<body>
    <header class="header">
        <h1>{{ title }}</h1>
    </header>
    <main>
        <section class="content">
            {# hx-ext="sse" doesn't appear to handle word by word updates
                BUT, client-side JS can tie into the SSE event stream
                in order to update the prompt analysis in real-time
            #}
            <form
                id="prompt-form"
                class="prompt"
            >
                <fieldset class="group radiogroup">
                    <legend>Model APIs</legend>
                    <input type="radio" id="hugging-face" name="modelApi" value="hf" checked/>
                    <label for="hugging-face">Hugging Face</label>
                    <input type="radio" id="openai" name="modelApi" value="openai"/>
                    <label for="open-ai">Open AI</label>
                    <input type="radio" id="replicate" name="modelApi" value="replicate"/>
                    <label for="replicate">Replicate</label>
                </fieldset> 
                <label for="prompt-1" class="prompt__label">Prompt</label> 
                <textarea class="prompt__input" name="prompt" id="prompt-1"></textarea>
                <button class="prompt__submit-button" type="submit">
                    <span class="prompt__submit-button-text">Generate</span>
                    <img class="prompt__submit-button-indicator" id="loading-pulse" src="/svg/loaders/puff.svg">
                </button>
                {# SSE div #}
                <p id="prompt-result"></p>
            </form>
            <aside class="prompt__response">
                <figure class="prompt__figure">
                    <img src="https://placehold.co/512x512" alt="placeholder image" class="gen-ai-image gen-ai-image--placeholder" />
                    <figcaption class="prompt__response-caption">Generated Caption Goes here</figcaption>
                    <figcaption class="prompt__response-rephrase">Rephrase prompt Goes here</figcaption>
                </figure>
            </aside>
        </section>
    </main>
    <script src="js/events.js"></script>
</body>
</html>