  :root {
    --img-dim: 512px;
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
  }
  .content {
    display: flex;
    gap: 8px;
    justify-content: space-between;

    .prompt {
      display: inline-flex;
      flex-direction: column;
    }

    .prompt__input {
      height: var(--img-dim);
      width: var(--img-dim);
    }
   

    .prompt__response {
      border: 1px solid grey;
      height: var(--img-dim);
      width: var(--img-dim);
    } 
  }