:root {
  --img-dim: 512px;
  --screen-tablet: 768px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prompt {
  max-width: var(--img-dim);
  .prompt__submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--img-dim);
  }
  .prompt__rephrase {
    height: 368px;
  }
  .prompt__submit-button-text.htmx-request,
  .prompt__submit-button-indicator {
    display: none;
  }

  .prompt__submit-button-indicator.htmx-request {
    display: block;
  }
}

.prompt__response {
  display: flex;
  justify-content: center;
  align-items: center;

  .prompt__figure {
    width: var(--img-dim);
    display: flex;
    flex-direction: column;
  }
}

.gen-ai-image {
  width: var(--img-dim);
  height: var(--img-dim);
  background: url(512x512.svg) no-repeat center center;
  display: block;
}

.htmx-request.gen-ai-image.hx-indicator {
  background: url(puff.svg) no-repeat center center;
}